/* Coolors Exported Palette - coolors.co/cebb90-0a244c-ebf5df-edb458-e8871e */

// New color template:

// Lightest grey/white - Background
$color7: #ECEDEA;

// Light grey - Button background on hover
$color8: #BEC0B9;

// Almost black
$color9: #070607;

// Dark grey - Title text
$color10: #616463;

// Minty green - Call to action
$color11: #6BC9B7;

// Orange - Icons
$color12: #E85A2E;

// Beige
$color13: #B08676;