@import "components/normalize";
@import "components/variables";
@import "components/typography";

// basic styles begin

body {
    font-family: $bodyFont;
    width: 100%;
}


.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

// header styles begin

header {
    width: 100%;
    background: $color5;
}

.header-title {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: 10px;
}

header .wrapper {
    color: white;
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    font-family: $titleFont;
}

h2 {
    font-weight: 400;
}

h1, h2 {
    text-align: center;
    width: 80%;
}

.beer-mug-image-div img {
    width: 100%;
}

.beer-mug-image-div {
    max-width: 5%;
    margin-left: 10%;
}

// main styles begin

form {
    width: 60%;
    margin-top: 25px;
}

.question {
    width: 100%;
    margin-top: 35px;
}

.question-one, .question-two {
    border-bottom: .5px solid $color6;
    padding-bottom: 30px;
}

.question-three {
    padding-bottom: 60px;

}

label {
    margin-right: 2%;
}

label:hover {
    color: $color6;
}

div.iradio_square-grey {
    margin-right: .5%;
}

.button-div {
    display: flex;
    justify-content: space-between;
}

.button {
    font-size: 18px;
    background: $color5;
    color: white;
    padding: 16px 65px;
    border-radius: 50px;
    border: none;
    text-align: center;
}


// snack pairing

.snack-container {
    background: $color4;
    margin-top: 60px;
}

.snack-container .wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    height: 520px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.snack-container .wrapper h3 {
    text-align: center;
	font-size: 36px;
	padding: 40px 0;
}

.snack-pairings {
    display: none;
    width: 60%;
}

.pairing-four {
    width: 80%;
}

.snack-pairings img {
    width: 40px;
}

li {
    list-style: none;
    line-height: 1.5;
}

.sweet-icon-div {
    height: 44px;
}

.icon-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sweet-left-side {
    float: left;
}

.salty-right-side {
    float: right;
}

.icon-title-container h4 {
    padding-left: 20px;
    font-size: 26px;
}

ul {
    padding-left: 60px;
}

// This is where the API answers start


.beer-selections .wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.beer-selections .wrapper h3 {
    color: black;
    text-align: center;
	font-size: 36px;
	padding: 40px 0;
}

.api-answer {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.api-answer p {
    text-align: center;
    margin: 5px;
}

.api-answer p:first-of-type {
    margin-bottom: 10px;
}

.button-api {
    margin-bottom: 60px;
    position: relative;
}

.button-api::after {
	position: absolute;
	height: 1px;
	width: 550px;
	border-bottom: 1px solid $color6;
	content: "";
	top: 80px;
	left: -160px;
}

// Footer starts here

footer {
    background-color: $color6;
    color: white;
    display: flex;
}

footer .wrapper {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

footer p {

}
