@import "components/normalize";
@import "components/variables";
@import "components/typography";

// basic styles begin

body {
    font-family: $bodyFont;
    width: 100%;
}


.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

// header styles begin

header {
    width: 100%;
    background: $color5;
}

.header-title {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: 10px;
}

header .wrapper {
    color: white;
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    font-family: $titleFont;
}

h2 {
    font-weight: 400;
}

h1, h2 {
    text-align: center;
    width: 80%;
}

.beer-mug-image-div img {
    width: 100%;
}

.beer-mug-image-div {
    max-width: 5%;
    margin-left: 10%;
    // height: 
}

// main styles begin

form {
    width: 60%;
    margin-top: 25px;
}

.question {
    width: 100%;
    margin-top: 35px;
}

.question-one, .question-two {
    border-bottom: .5px solid $color6;
    padding-bottom: 30px;
}

.question-three {
    padding-bottom: 60px;

}

label {
    margin-right: 2%;
    // padding: 20px;
}

label:hover {
    color: $color6;
}

div.iradio_square-grey {
    margin-right: .5%;
    // margin-left: 2%;
}

.button-div {
    display: flex;
    justify-content: space-between;
}

.button {
    font-size: 18px;
    background: $color5;
    color: white;
    padding: 16px 65px;
    border-radius: 50px;
    border: none;
}

li {
    list-style: none;
}